<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PoÄetna Stranica</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Odaberite ranjivost za testiranje</h1>
    <a href="/bac"><button>Testiraj Broken Access Control</button></a>
    <a href="/xss"><button>Testiraj Cross-site Scripting (XSS)</button></a>
</body>
</html>
